*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  /* display: flex;
  gap: 30px; */
}

.Card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Card .Top{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  margin-bottom: 30px;
}
.Top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.Top button{
  display: flex;
  align-items: center;
  border: 1px;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}
/* .center{


} */
.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: black;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  gap: 5px;
}
.center .tag h4{
  font-size: 14px;
  margin-top: 10px;
  background-color: #dadada;
  color: #111;
  border-radius: 4px;
  padding: 4px 8px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d1cccc;
  padding: 10px 0;

}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}