*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue;
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.Parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;  
  gap: 20px;
  /* align-items: center; */
}

.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background-color: #222;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
}
.card p{
  margin: 10px 20px;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
