*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue;
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
}


button{
  padding: 10px 20px;
  margin: 20px;
  color: cornflowerblue;
}
h1{
  padding: 10px 80px;
  width: fit-content;
  margin: 20px;
  font-size: 100px;
  background-color: gainsboro;
}